Source: debiancn-keyring
Section: misc
Priority: optional
Maintainer: Boyuan Yang <073plan@gmail.com>
Build-Depends: debhelper (>= 9), gnupg
Homepage: https://github.com/debiancn/debiancn-keyring
Standards-Version: 3.9.8
Vcs-Browser: https://github.com/debiancn/debiancn-keyring
Vcs-Git: https://github.com/debiancn/debiancn-keyring.git

Package: debiancn-keyring
Architecture: all
Recommends: gnupg (>= 1.0.6-4)
Description: GnuPG keys of Debian CN Community
 The Debian CN Community wants developers to digitally sign the
 announcements of their packages with GnuPG, to protect against
 forgeries.  This package contains keyrings and keys.
